<!DOCTYPE html>
<html>
<title>FRTB Risk Charge Calculation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h1>FRTB SBM Risk Charge Calculation</h1>
  <p>This website is used to calculate FRTB SBM Risk Charge. All calculation details from weighted sensitivity, risk bucket and risk charge will be provided step by step.</p>
</div>

<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openTab('risk_charge')">Risk Charge</button>
  <button class="w3-bar-item w3-button" onclick="openTab('delta')">Delta</button>
  <button class="w3-bar-item w3-button" onclick="openTab('vega')">Vega</button>
  <button class="w3-bar-item w3-button" onclick="openTab('curvature')">Curvature</button>
</div>

<form action="result" method="post" enctype="multipart/form-data">
	<div id="risk_charge" class="w3-container tab">
	  <h2>Risk Charge</h2>
	    <table class="w3-table w3-striped w3-bordered">
            <thead>
              <tr>
                <th>Portfolio</th>
                <th>Risk Class</th>
                <th>Risk Charge</th>
                <th>Risk Charge (Low)</th>
                <th>Risk Charge (Medium)</th>
                <th>Risk Charge (High)</th>
              </tr>
            </thead>
            <tbody>
             {% for key, value in result.iteritems()|sort() %}
                <tr>
                   {% set portfolio_riskclass = key.split('|') %}
                    {% for item in portfolio_riskclass %}
                    <td>{{ item }}</td>
                    {% endfor %}
                    
                    {% set outputs = value.split('|') %}
                    {% for item in outputs %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
             {% endfor %}
             </tbody>
        </table>
	</div>
    
	<div id="delta" class="w3-container tab" style="display:none">
        <h2>Delta</h2>
	    <table class="w3-table w3-striped w3-bordered">
            <thead>
              <tr>
                <th>Portfolio</th>
                <th>Risk Class</th>
                <th>Delta (Low)</th>
                <th>Delta (Medium)</th>
                <th>Delta (High)</th>
              </tr>
            </thead>
            <tbody>
             {% for key, value in result_delta.iteritems()|sort() %}
                <tr>
                   {% set portfolio_riskclass = key.split('|') %}
                    {% for item in portfolio_riskclass %}
                    <td>{{ item }}</td>
                    {% endfor %}
                    
                    {% set outputs = value.split('|') %}
                    {% for item in outputs %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
             {% endfor %}
             </tbody>
        </table>
	</div>

	<div id="vega" class="w3-container tab" style="display:none">
	  <h2>Vega</h2>
      	<table class="w3-table w3-striped w3-bordered">
            <thead>
              <tr>
                <th>Portfolio</th>
                <th>Risk Class</th>
                <th>Vega (Low)</th>
                <th>Vega (Medium)</th>
                <th>Vega (High)</th>
              </tr>
            </thead>
            <tbody>
             {% for key, value in result_vega.iteritems()|sort() %}
                <tr>
                   {% set portfolio_riskclass = key.split('|') %}
                    {% for item in portfolio_riskclass %}
                    <td>{{ item }}</td>
                    {% endfor %}
                    
                    {% set outputs = value.split('|') %}
                    {% for item in outputs %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
             {% endfor %}
             </tbody>
        </table>
	</div>

	<div id="curvature" class="w3-container tab" style="display:none">
	  <h2>Curvature</h2>
      	<table class="w3-table w3-striped w3-bordered">
            <thead>
              <tr>
                <th>Portfolio</th>
                <th>Risk Class</th>
                <th>Curvature (Low)</th>
                <th>Curvature (Medium)</th>
                <th>Curvature (High)</th>
              </tr>
            </thead>
            <tbody>
             {% for key, value in result_curvature.iteritems()|sort() %}
                <tr>
                   {% set portfolio_riskclass = key.split('|') %}
                    {% for item in portfolio_riskclass %}
                    <td>{{ item }}</td>
                    {% endfor %}
                    
                    {% set outputs = value.split('|') %}
                    {% for item in outputs %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
             {% endfor %}
             </tbody>
        </table>
	</div>
	<script>
	function openTab(tabName) {
		var i;
		var x = document.getElementsByClassName("tab");
		for (i = 0; i < x.length; i++) {
		   x[i].style.display = "none";  
		}
		document.getElementById(tabName).style.display = "block";  
	}
	</script>
</form>
<hr>
</body>
</html>
